---
layout: default
title: News
---
            <section class="page">
                    <div class="columns">
                        <div class="two-third">
                            <article>
                            <h2>Latest <span>news</span></h2>
                            {% for post in site.posts %}
                                <div class="article-overview">
                                    <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
                                    <div class="article-infos">
                                        <span>Published on {{ post.date | date_to_long_string }} by {{ post.author }}</span>
                                        <span>{{ post.tags | array_to_sentence_string }}</span>
                                    </div>
                                    <p>{{ post.summary }}</p>
                                    <a href="{{ post.url }}" class="a-btn-small">For more...</a>
                                </div>
                            {% endfor %}
                            </article>
                        </div>
                        <div class="one-third">
                            <div class="sidebar">
                                <h2>News by <span>tags</span></h2>
                                <nav class="secondary-nav">
                                        {% for ptag in site.tags %}
                                        <a href="/news/by-tag/{{ ptag | first | slugize }}" class="a-btn-small" style="font-size: {{ ptag | last | size | times: 200 | divided_by: site.tags.size | plus: 70 }}%">{{ ptag | first }}</a>
                                        {% endfor %}
                                </nav>
                            </div>
                        </div>
                    </div>
            </section>
