<hr />

<!-- footer -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-xs-16 col-sm-8 col-md-10">
        <p>Refuge is an open source project, sponsored by <a
          href="http://enki-multimedia.org">Enki Multimedia</a>, under
        the apache 2.0 licence<br />
        Design by <a href="http://www.lolograph.com"
          target="_blank">lolograph</a></p>
      </div>
      <div class="col-xs-4 col-sm-4 col-md-2">

        <p><div class="textright social links">
          <a class="twitter" href="http://twitter.com/refugeio">Twitter</a>
          <a class="github" href="https://github.com/refuge">GitHub</a>
        </div></p>
      </div>

    </div>

  </div>

</footer> <!-- end footer -->
