            <section class="latest-tweets">
                <div class="wrap">
                    <a href="#" class="refuge-twitter-account"></a>
                    <p></p>
                    <span class="date">Soon</span>
                </div>
            </section>

            <footer> 
                <div class="wrap-footer">
                    <div class="one-third">
                        <article>
                            <h2><span>Mailing</span> list</h2>
                            <form class="mailing-list">
                                <input type="text" />
                                <input type="submit" value="Send" />
                            </form>
                            <p>Sign up to get latest news about <a href="/news">Refuge Project</a> and more...</p>
                        </article>
                    </div>
                    <div class="one-third">
                        <article>
                            <h2>More <span>info</span></h2>
                            <ul>
                                <li><a href="/details">Refuge</a></li>
                                <li><a href="/download">Download</a></li>
                                <li><a href="/community">Community</a></li>
                            </ul>
                        </article>
                    </div>
                    <div class="one-third">
                        <article>
                            <h2><span>Community</span> box</h2>
                            <ul>
                                <li><a href="https://twitter.com/refugeio" class="link-twitter-account"><span></span>Twitter</a></li>
                                <li><a href="https://plus.google.com/115744169275315366494/posts" class="link-gplus-account"><span></span>Google +</a></li>
                                <li><a href="irc://irc.freenode.net/refuge.io" class="link-irc-account"><span></span>IRC</a></li>
                            </ul>
                        </article>
                    </div>
                    <div class="whole">
                        <span class="copyrights">2013 © Refuge. Designed by <a href="http://www.lolograph.com" target="_blank">lolograph</a></span>
                    </div>
                </div>
            </footer>
