<section class="latest-tweets">
  <div class="wrap">
    <a href="#" class="refuge-twitter-account"></a>
    <p>maintenance: twitter news are offline</p>
    <span class="date">2013-10-18</span>
  </div>
</section>

<footer> 
  <div class="wrap-footer">
    <div class="one-third">
      <article>
        <h2><span>Mailing</span> list</h2>
        <p>Subscribe to <a
          href="http://groups.google.com/group/refuge-user">refuge-user</a></strong> for help and announcements.</p>
      <br>
      <form action="http://groups.google.com/group/refuge-user/boxsubscribe">
        <p><input type="text" name="email" size="15" /> <input type="submit" value="Go" /></p>
      </form>

      <br>
      <p>Problems subscribing? See this <a href="http://groups.google.com/support/bin/answer.py?answer=19870">FAQ answer</a> about non-Gmail addresses.</p>


    </div>
    <div class="one-third">
      <article>
        <h2>More <span>info</span></h2>
        <ul>
          <li><a href="/learnmore">Learn more</a></li>
          <li><a href="/gettingstarted">Getting started</a></li>
          <li><a href="/community">Community</a></li>
        </ul>
      </article>
    </div>
    <div class="one-third">
      <article>
        <h2><span>Community</span> box</h2>
        <ul>
          <li><a href="https://twitter.com/refugeio" class="link-twitter-account"><span></span>Twitter</a></li>
          <li><a href="https://plus.google.com/115744169275315366494/posts" class="link-gplus-account"><span></span>Google +</a></li>
          <li><a
            href="http://webchat.freenode.net/?channels=refuge.io"
            class="link-irc-account"><span></span>IRC</a></li>
        </ul>
      </article>
    </div>
    <div class="whole">
      <span class="copyrights">Refuge is an open source project, sponsored by <a
          href="http://enki-multimedia.org">Enki Multimedia</a>, under
        the apache 2.0 licence.<br> Design by <a
          href="http://www.lolograph.com"
          target="_blank">lolograph</a><br><br>Last updated at: {{ site.time | date_to_rfc822 }}</span>
    </div>
  </div>
</footer>
