            {% capture section_name %}{{ page.path | split:'/' | first }}{% endcapture %}
            <header class="header">
                <a href="/" class="a-backtohome"></a>
                <nav id="navbar">
                    <div class="btn-menu-resp"></div>
                    <ul onclick="return true">
                        <li{% if page.title == "Welcome" %} class="selected"{% endif %}><a href="/">Home</a></li>
                        <li{% if section_name == 'details' %} class="selected"{% endif %}><a href="/details">Refuge</a></li>
                        <li{% if section_name == 'news' %} class="selected"{% endif %}><a href="/news">News</a></li>
                        <li{% if section_name == 'logs' %} class="selected"{% endif %}><a href="/logs">Logs</a></li>
                        <li{% if section_name == 'download' %} class="selected"{% endif %}><a href="/download">Download</a></li>
                        <li{% if section_name == 'community' %} class="selected"{% endif %}><a href="/community">Community</a></li>
                    </ul>
                </nav>
            </header>
