{% capture section_name %}{{ page.path | split:'/' | first }}{% endcapture %}
<header class="header">
  <a href="/" class="a-backtohome"></a>
  <nav id="navbar">
    <div class="btn-menu-resp"></div>
    <ul onclick="return true">
      <li{% if page.title == "Welcome" %} class="selected"{% endif %}><a href="/">Home</a></li>
      <li{% if section_name == 'learnmore' %} class="selected"{% endif %}><a href="/learnmore">Learn more</a></li>
      <li{% if section_name == 'gettingstarted' %} class="selected"{% endif %}><a href="/gettingstarted" title="Getting started">Getting started</a></li>
      <li{% if section_name == 'community' %} class="selected"{% endif %}><a href="/community" title="Community">Community</a></li>
      <!--<li><a href="http://docs.refuge.io"
          title="Documentation">Documentation</a></li> -->
      <li{% if section_name == 'blog' %} class="selected"{% endif %}><a href="/blog" title="Blog">Blog</a></li>

    </ul>
  </nav>
</header>
