        {% capture section_name %}{{ page.path | split:'/' | first }}{% endcapture %}
        <div class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">The Refuge Project</a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li{% if page.title == "Welcome" %} class="active"{% endif %}><a href="/">Home</a></li>
                        <li{% if section_name == 'details' %} class="active"{% endif %}><a href="/details">Refuge</a></li>
                        <li{% if section_name == 'news' %} class="active"{% endif %}><a href="/news">News</a></li>
                        <li{% if section_name == 'download' %} class="active"{% endif %}><a href="/download">Download</a></li>
                        <li{% if section_name == 'community' %} class="active"{% endif %}><a href="/community">Community</a></li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </div>
