

body { 
    padding-top: 70px;
    background:url('/img/bg-body.png') repeat center 2px; 
    min-width:980px;
}

.brand.logo a {
  text-decoration: none;
}

.main-banner h1 {
    font-size: 160%;
    text-align: center;
}


.navbar .brand {
    margin-left: 0px;
    float: left;
    display: block;
    margin-right: 30px;

}
.brand.logo a {
    color: white;
}

.navbar-default  {
    border-top:2px solid #ff5728;
}

.navbar-default  ul li a {
    line-height: 30px;
    padding: 25px 20px 15px;

}



/* =======================
   Social footer
======================= */
.social {
  margin-left: 0px;
  margin-top: 0px;
}
.social .twitter,
.social .github,
.social .googleplus {
  background: url("/img/footer-links.png") no-repeat transparent;
  display: inline-block;
  height: 35px;
  overflow: hidden;
  text-indent: 9999px;
  width: 35px;
  margin-right: 10px;
}
.social .twitter {
  background-position: 0px 2px;
}
.social .github {
  background-position: -59px 2px;
}

