

body { 
    padding-top: 80px;
    background:url('/img/bg-body.png') repeat center 2px; 
    min-width:980px;
}

.brand.logo a {
  text-decoration: none;
}



.navbar .brand {
  margin-left: 0px;
  float: left;
  display: block;
}
.brand.logo a {
  color: white;
}


.navbar .nav li a {
  padding: 25px 17px 25px;
}


.copy-headline h1 {
  font-size: 21px;
}
