

body { 
    padding-top: 70px;
    background:url('/img/bg-body.png') repeat center 2px; 
    min-width:980px;
}

.brand.logo a {
  text-decoration: none;
}



.navbar .brand {
  margin-left: 0px;
  float: left;
  display: block;
  margin-right: 30px;

}
.brand.logo a {
  color: white;
}

.navbar-default  {
    border-top:2px solid #ff5728;
}

.navbar-default  ul li a {
line-height: 30px;
padding: 25px 20px 15px;

}
