            <footer>
                <div class="wrap-footer">
                    <div class="one-third">
                        <article>
                            <h2><div></div><span>Mailing</span> list</h2>
                            <form class="mailing-list">
                                <input type="text" />
                                <input type="submit" value="Send" />
                            </form>
                            <p>Sign up to get latest news about <a href="#">Refuge Project</a> and more...</p>
                        </article>
                    </div>
                    <div class="one-third">
                        <article>
                            <h2><div></div>More <span>info</span></h2>
                            <ul>
                                <li><a href="/refuge-intro.html">Refuge</a></li>
                                <li><a href="/devices.html">Devices</a></li>
                                <li><a href="/download.html">Download</a></li>
                                <li><a href="/project.html">Project</a></li>
                                <li><a href="/community.html">Community</a></li>
                                <li><a href="/shop.html">Shop</a></li>
                            </ul>
                        </article>
                    </div>
                    <div class="one-third last">
                        <article>
                            <h2><div></div><span>Community</span> box</h2>
                            <ul>
                                <li><a href="#" class="link-twitter-account"><span></span>Twitter</a></li>
                                <li><a href="#" class="link-gplus-account"><span></span>Google +</a></li>
                                <li><a href="#" class="link-irc-account"><span></span>IRC</a></li>
                            </ul>
                        </article>
                    </div>
                    <div class="clear"></div>
                    <span class="copyrights">2013 © Refuge. Designed by <a href="http://www.lolograph.com" target="_blank">lolograph</a></span>
                </div>
            </footer>
