---
layout: default
---
<!DOCTYPE html>
<html>
    <head>
        <title>Refuge | Data should be yours ! - {{ page.title }}</title>
        <meta name="description" content="description">
        <meta name="keywords" content="keywords">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
        <link rel="stylesheet" type="text/css" href="/vendors/bootstrap/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/resources/css/style.css">

    </head>
    <body>
{% include navbar.html %}

{{ content }}

{% include footer.html %}

        <script src="/vendors/jquery/jquery-2.0.3.min.js"></script>
        <script src="/vendors/bootstrap/bootstrap.min.js"></script>
    </body>
</html>
